
*.zip
*.csv
.ipynb_checkpoints/2.exploratory-checkpoint.ipynb
.ipynb_checkpoints/0.obtain_data-checkpoint.ipynb
.ipynb_checkpoints/1.data_wrangling-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/3.ML_cont-checkpoint.ipynb
.ipynb_checkpoints/3.ML_cont_cat-checkpoint.ipynb
.ipynb_checkpoints/4.submit-checkpoint.ipynb
.ipynb_checkpoints/3.ML_p1-checkpoint.ipynb
catboost_info/tmp/cat_feature_index.6617e231-5e117410-3e0b815d-541e5f0d.tmp
*.tsv
*.tfevents
*.json
.ipynb_checkpoints/3.ML_p2-checkpoint.ipynb
catboost_info/tmp/cat_feature_index.597e1edf-a00f0742-e9eaf25b-1f9f7fe9.tmp
.ipynb_checkpoints/3.ML-outliers-checkpoint.ipynb
.ipynb_checkpoints/3.ML_p2-checkpoint.ipynb
*.tmp
.ipynb_checkpoints/3.ML_p2-checkpoint.ipynb
.ipynb_checkpoints/3.ML_p2-checkpoint.ipynb
.ipynb_checkpoints/3.ML_p2-checkpoint.ipynb
*.pptx
.ipynb_checkpoints/3.ML_p2-checkpoint.ipynb
